@import "fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #efF6ff;
  --color-text: #2a4a5c;
  --color-fb: #255a9b;
  --color-in: #0076b6;
  --color-primary: #3698fb;
  --color-gray1: #7b8a92;
  --color-gray2: #96a5b1;
  --color-gray3: #afafaf;
  --color-light: #eeeeee;
  --color-xlight: #ffffff;
}

.body {
  font-family: 'Barlow', sans-serif;
  background-color: var(--color-bg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  padding: 100px 0;
}

.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.register {
  display: flex;
  justify-content: space-between;
}

.register__banner {
  padding: 45px 50px;
  background: var(--color-primary) url("../img/bg.jpg") no-repeat center/cover;
  width: 100%;
}

.register__logo {
  display: inline-block;
  width: 140px;
}

.register__logo-img {
  width: 100%;
}

.register__content {
  padding: 115px 70px;
  width: 100%;
  max-width: 680px;
  background-color: var(--color-xlight);
}

.register__title {
  margin: 0 0 15px;
  font-size: 30px;
  font-weight: 500;
  color: var(--color-text);
}

.register__subtitle {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-gray1);
}

.register__social {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.register__social-btn {
  cursor: pointer;
  padding: 13px 52px;
  width: 100%;
  max-width: 247px;
  border: none;
  font-size: 14px;
  text-align: center;
  color: var(--color-xlight);
  background-repeat: no-repeat;
  background-position: center left 10px;
  background-size: 20px;
  transition: background-color .2s ease-in-out;
}

.register__social-btn:not(:last-child) {
  margin-right: 20px;
}

.register__social-btn:hover {
  background-color: var(--color-primary);
}

.register__social-btn--fb {
  background-color: var(--color-fb);
  background-image: url("../img/facebook.svg");
}

.register__social-btn--in {
  background-color: var(--color-in);
  background-image: url("../img/linkedin.svg");
  background-position: center left 15px;
}

.register__or {
  position: relative;
  margin: 50px 0;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-gray1);
}

.register__or::before,
.register__or::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 150px;
  height: 1px;
  transform: translateY(-50%);
  background-color: var(--color-gray3);
}

.register__or::before {
  left: 100px;
}

.register__or::after {
  right: 100px;
}

.register__form-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.register__form-input-label {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 247px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray2);
}

.register__form-input-label:not(:last-child) {
  margin-right: 20px;
}

.register__form-input-name {
  position: absolute;
  top: 5px;
  left: 10px;
}

.register__form-input {
  padding: 30px 10px 5px;
  width: 100%;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  transition: border-color .2s ease-in-out;
}

.register__form-input:focus {
  border-left-color: var(--color-primary);
}

.register__form-title {
  margin: 0 0 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--color-text);
}

.register__form-subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text);
}

.register__radio-list {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 150px;
  padding: 0;
  list-style: none;
}

.register__radio-item:not(:last-child) {
  margin-right: 20px;
}

.register__radio-btn-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: var(--color-text);
  cursor: pointer;
}

.register__radio-icon {
  position: relative;
  display: block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-gray3);
  border-radius: 50%;
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
}

.register__radio-btn:checked + .register__radio-icon {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.register__radio-icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--color-xlight);
  transition: transform .2s ease-in-out;
}

.register__radio-btn:checked + .register__radio-icon::before {
  transform: translate(-50%, -50%) scale(1);
}

.tooltip {
  position: relative;
  display: block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-gray3);
  border-radius: 50%;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 1px;
  background-color: var(--color-gray3);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 1px;
  background-color: var(--color-gray3);
}

.tooltip__text {
  position: absolute;
  top: 30px;
  left: -100px;
  padding: 15px;
  width: 290px;
  font-size: 15px;
  font-weight: 400;
  color: var(--color-gray3);
  background-color: var(--color-xlight);
  box-shadow: 4px 4px 8px 2px rgba(238, 238, 238, .8);
}

.register__form-checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 1;
  color: var(--color-gray3);
  cursor: pointer;
}

.register__form-checkbox:checked + .register__form-checkbox-icon::before {
  opacity: 1;
}

.register__form-checkbox-icon {
  position: relative;
  display: block;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-gray3);
}

.register__form-checkbox-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 10px;
  height: 5px;
  border-left: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  transform: translate(-50%, -70%) rotate(-45deg);
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.register__form-checkbox-agree {
  color: var(--color-primary);
}

.btn {
  padding: 13px 20px;
  min-width: 200px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  color: var(--color-xlight);
  font-size: 16px;
  font-weight: 500;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.btn:hover {
  border: 1px solid var(--color-primary);
  background-color: var(--color-xlight);
  color: var(--color-primary);
}